<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
<!-- CSRF Token -->
<meta name="csrf-token" content="q70fR2gs72gquvmyAur6GGrCSoY5GyRmL4oPycwe">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<meta name='robots' content="NOODP, nofollow, noindex">


<link rel='shortcut icon' type='image/x-icon' href="http://127.0.0.1:8000/store/1/Tadaros.png">
<link rel="manifest" href="/mix-manifest.json?v=4">
<meta name="theme-color" content="#FFF">
<!-- Windows Phone -->
<meta name="msapplication-starturl" content="/">
<meta name="msapplication-TileColor" content="#FFF">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-title" content="Tadaros LMS">
<link rel="apple-touch-icon" href="http://127.0.0.1:8000/store/1/Tadaros.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<!-- Android -->
<link rel='icon' href='http://127.0.0.1:8000/store/1/Tadaros.png'>
<meta name="application-name" content="Tadaros LMS">
<meta name="mobile-web-app-capable" content="yes">
<!-- Other -->
<meta name="layoutmode" content="fitscreen/standard">
<link rel="home" href="http://127.0.0.1:8000">

<!-- Open Graph -->
<meta property='og:title' content='Page not found'>
<meta name='twitter:card' content='summary'>
<meta name='twitter:title' content='Page not found'>


<meta property='og:site_name' content='http://127.0.0.1:8000/Tadaros LMS'>
<meta property='og:image' content='http://127.0.0.1:8000/store/1/Tadaros.png'>
<meta name='twitter:image' content='http://127.0.0.1:8000/store/1/Tadaros.png'>
<meta property='og:locale' content='http://127.0.0.1:8000/en_US'>
<meta property='og:type' content='website'>



    <title>Page not found | Tadaros LMS</title>

    <!-- General CSS File -->
    <link rel="stylesheet" href="/assets/default/vendors/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/default/vendors/toast/jquery.toast.min.css">
    <link rel="stylesheet" href="/assets/default/vendors/simplebar/simplebar.css">
    <link rel="stylesheet" href="/assets/default/css/app.css">

    
        
    <style>
        

        @font-face {
                      font-family: 'main-font-family';
                      font-style: normal;
                      font-weight: 400;
                      font-display: swap;
                      src: url(/store/1/fonts/montserrat-regular.woff2) format('woff2');
                    }@font-face {
                      font-family: 'main-font-family';
                      font-style: normal;
                      font-weight: bold;
                      font-display: swap;
                      src: url(/store/1/fonts/montserrat-bold.woff2) format('woff2');
                    }@font-face {
                      font-family: 'main-font-family';
                      font-style: normal;
                      font-weight: 500;
                      font-display: swap;
                      src: url(/store/1/fonts/montserrat-medium.woff2) format('woff2');
                    }@font-face {
                      font-family: 'rtl-font-family';
                      font-style: normal;
                      font-weight: 400;
                      font-display: swap;
                      src: url(/store/1/fonts/Vazir-Regular.woff2) format('woff2');
                    }@font-face {
                      font-family: 'rtl-font-family';
                      font-style: normal;
                      font-weight: bold;
                      font-display: swap;
                      src: url(/store/1/fonts/Vazir-Bold.woff2) format('woff2');
                    }@font-face {
                      font-family: 'rtl-font-family';
                      font-style: normal;
                      font-weight: 500;
                      font-display: swap;
                      src: url(/store/1/fonts/Vazir-Medium.woff2) format('woff2');
                    }

        :root{
}

    </style>


            <style>
    .pace { -webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; } .pace-inactive { display: none; } .pace .pace-progress { background: #29d; position: fixed; z-index: 2000; top: 0; right: 100%; width: 100%; height: 2px; } .pace .pace-progress-inner { display: block; position: absolute; right: 0px; width: 100px; height: 100%; box-shadow: 0 0 10px #29d, 0 0 5px #29d; opacity: 1.0; -webkit-transform: rotate(3deg) translate(0px, -4px); -moz-transform: rotate(3deg) translate(0px, -4px); -ms-transform: rotate(3deg) translate(0px, -4px); -o-transform: rotate(3deg) translate(0px, -4px); transform: rotate(3deg) translate(0px, -4px); } .pace .pace-activity { display: block; position: fixed; z-index: 2000; top: 15px; right: 15px; width: 14px; height: 14px; border: solid 2px transparent; border-top-color: #29d; border-left-color: #29d; border-radius: 10px; -webkit-animation: pace-spinner 400ms linear infinite; -moz-animation: pace-spinner 400ms linear infinite; -ms-animation: pace-spinner 400ms linear infinite; -o-animation: pace-spinner 400ms linear infinite; animation: pace-spinner 400ms linear infinite; } @-webkit-keyframes pace-spinner { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } @-moz-keyframes pace-spinner { 0% { -moz-transform: rotate(0deg); transform: rotate(0deg); } 100% { -moz-transform: rotate(360deg); transform: rotate(360deg); } } @-o-keyframes pace-spinner { 0% { -o-transform: rotate(0deg); transform: rotate(0deg); } 100% { -o-transform: rotate(360deg); transform: rotate(360deg); } } @-ms-keyframes pace-spinner { 0% { -ms-transform: rotate(0deg); transform: rotate(0deg); } 100% { -ms-transform: rotate(360deg); transform: rotate(360deg); } } @keyframes pace-spinner { 0% { transform: rotate(0deg); transform: rotate(0deg); } 100% { transform: rotate(360deg); transform: rotate(360deg); } }
</style>

<script>
    window.paceOptions = {
        ajax: false, // disabled
        document: false, // disabled
        eventLag: false, // disabled
    };
</script>
<script src="/assets/default/vendors/pace-loading/pace.min.js"></script>
    </head>

<body class="">

<div id="app" class="">
    
            <div class="top-navbar d-flex border-bottom">
    <div class="container d-flex justify-content-between flex-column flex-lg-row">
        <div class="top-contact-box border-bottom d-flex flex-column flex-md-row align-items-center justify-content-center">

            
            <div class="d-flex align-items-center justify-content-between justify-content-md-center">

                
                

                                    <form action="/locale" method="post" class="mr-15 mx-md-20">
                        <input type="hidden" name="_token" value="q70fR2gs72gquvmyAur6GGrCSoY5GyRmL4oPycwe">

                        <input type="hidden" name="locale">

                        
                        <div class="language-select">
                            <div id="localItems"
                                 data-selected-country="US"
                                 data-countries='{&quot;SA&quot;:&quot;Arabic&quot;,&quot;US&quot;:&quot;English&quot;}'
                            ></div>
                        </div>
                    </form>
                

                <form action="/search" method="get" class="form-inline my-2 my-lg-0 navbar-search position-relative">
                    <input class="form-control mr-5 rounded" type="text" name="search" placeholder="Search..." aria-label="Search">

                    <button type="submit" class="btn-transparent d-flex align-items-center justify-content-center search-icon">
                        <i data-feather="search" width="20" height="20" class="mr-10"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="xs-w-100 d-flex align-items-center justify-content-between ">
            <div class="d-flex">

                <div class="dropdown">
    <button type="button" disabled class="btn btn-transparent dropdown-toggle" id="navbarShopingCart" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        <i data-feather="shopping-cart" width="20" height="20" class="mr-10"></i>

            </button>

    <div class="dropdown-menu" aria-labelledby="navbarShopingCart">
        <div class="d-md-none border-bottom mb-20 pb-10 text-right">
            <i class="close-dropdown" data-feather="x" width="32" height="32" class="mr-10"></i>
        </div>
        <div class="h-100">
            <div class="navbar-shopping-cart h-100" data-simplebar>
                                    <div class="d-flex align-items-center text-center py-50">
                        <i data-feather="shopping-cart" width="20" height="20" class="mr-10"></i>
                        <span class="">Your cart is empty</span>
                    </div>
                            </div>
        </div>
    </div>
</div>

                <div class="border-left mx-5 mx-lg-15"></div>

                <div class="dropdown">
    <button type="button" class="btn btn-transparent dropdown-toggle" disabled id="navbarNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i data-feather="bell" width="20" height="20" class="mr-10"></i>

            </button>

    <div class="dropdown-menu pt-20" aria-labelledby="navbarNotification">
        <div class="d-flex flex-column h-100">
            <div class="mb-auto navbar-notification-card" data-simplebar>
                <div class="d-md-none border-bottom mb-20 pb-10 text-right">
                    <i class="close-dropdown" data-feather="x" width="32" height="32" class="mr-10"></i>
                </div>

                                    <div class="d-flex align-items-center text-center py-50">
                        <i data-feather="bell" width="20" height="20" class="mr-10"></i>
                        <span class="">Empty notifications</span>
                    </div>
                
            </div>

                    </div>
    </div>
</div>
            </div>

            
            <div class="custom-dropdown navbar-auth-user-dropdown position-relative ml-50">
        <div class="custom-dropdown-toggle d-flex align-items-center navbar-user cursor-pointer">
            <img src="/store/1/default_images/logo-new.jpg" class="rounded-circle" alt="Abdullah">
            <span class="font-16 user-name ml-10 text-dark-blue font-14">Abdullah</span>
        </div>

        <div class="custom-dropdown-body pb-10">

            <div class="dropdown-user-avatar d-flex align-items-center p-15 m-15 mb-10 rounded-sm border">
                <div class="size-40 rounded-circle position-relative">
                    <img src="/store/1/default_images/logo-new.jpg" class="img-cover rounded-circle" alt="Abdullah">
                </div>

                <div class="ml-5">
                    <div class="font-14 font-weight-bold text-secondary">Abdullah</div>
                    <span class="mt-5 text-gray font-12">Admin role</span>
                </div>
            </div>

            <ul class="my-8">
                                    <li class="navbar-auth-user-dropdown-item">
                        <a href="/admin" class="d-flex align-items-center w-100 px-15 py-10 text-gray font-14 bg-transparent">
                            <img src="/assets/default/img/icons/user_menu/dashboard.svg" class="icons">
                            <span class="ml-5">Dashboard</span>
                        </a>
                    </li>

                    <li class="navbar-auth-user-dropdown-item">
                        <a href="/admin/settings" class="d-flex align-items-center w-100 px-15 py-10 text-gray font-14 bg-transparent">
                            <img src="/assets/default/img/icons/user_menu/settings.svg" class="icons">
                            <span class="ml-5">Settings</span>
                        </a>
                    </li>
                
                <li class="navbar-auth-user-dropdown-item">
                    <a href="/logout" class="d-flex align-items-center w-100 px-15 py-10 text-danger font-14 bg-transparent">
                        <img src="/assets/default/img/icons/user_menu/logout.svg" class="icons">
                        <span class="ml-5">Logout</span>
                    </a>
                </li>

            </ul>

        </div>
    </div>
        </div>
    </div>
</div>


        <div id="navbarVacuum"></div>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between w-100">

            <a class="navbar-brand navbar-order d-flex align-items-center justify-content-center mr-0 ml-auto" href="/">
                                    <img src="/store/1/tadaroslogo.jpg" class="img-cover" alt="site logo">
                            </a>

            <button class="navbar-toggler navbar-order" type="button" id="navbarToggle">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="mx-lg-30 d-none d-lg-flex flex-grow-1 navbar-toggle-content " id="navbarContent">
                <div class="navbar-toggle-header text-right d-lg-none">
                    <button class="btn-transparent" id="navbarClose">
                        <i data-feather="x" width="32" height="32"></i>
                    </button>
                </div>

                <ul class="navbar-nav mr-auto d-flex align-items-center">
                                            <li class="mr-lg-25">
                            <div class="menu-category">
                                <ul>
                                    
                                </ul>
                            </div>
                        </li>
                    
                                                                        <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                                                    <li class="nav-item">
                                <a class="nav-link" href="/instructor-finder">Instructors</a>
                            </li>
                                                            </ul>
            </div>

            <div class="nav-icons-or-start-live navbar-order d-flex align-items-center justify-content-end">

                
                
                <div class="d-none nav-notify-cart-dropdown top-navbar">
                    <div class="dropdown">
    <button type="button" disabled class="btn btn-transparent dropdown-toggle" id="navbarShopingCart" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        <i data-feather="shopping-cart" width="20" height="20" class="mr-10"></i>

            </button>

    <div class="dropdown-menu" aria-labelledby="navbarShopingCart">
        <div class="d-md-none border-bottom mb-20 pb-10 text-right">
            <i class="close-dropdown" data-feather="x" width="32" height="32" class="mr-10"></i>
        </div>
        <div class="h-100">
            <div class="navbar-shopping-cart h-100" data-simplebar>
                                    <div class="d-flex align-items-center text-center py-50">
                        <i data-feather="shopping-cart" width="20" height="20" class="mr-10"></i>
                        <span class="">Your cart is empty</span>
                    </div>
                            </div>
        </div>
    </div>
</div>

                    <div class="border-left mx-15"></div>

                    <div class="dropdown">
    <button type="button" class="btn btn-transparent dropdown-toggle" disabled id="navbarNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i data-feather="bell" width="20" height="20" class="mr-10"></i>

            </button>

    <div class="dropdown-menu pt-20" aria-labelledby="navbarNotification">
        <div class="d-flex flex-column h-100">
            <div class="mb-auto navbar-notification-card" data-simplebar>
                <div class="d-md-none border-bottom mb-20 pb-10 text-right">
                    <i class="close-dropdown" data-feather="x" width="32" height="32" class="mr-10"></i>
                </div>

                                    <div class="d-flex align-items-center text-center py-50">
                        <i data-feather="bell" width="20" height="20" class="mr-10"></i>
                        <span class="">Empty notifications</span>
                    </div>
                
            </div>

                    </div>
    </div>
</div>
                </div>

            </div>
        </div>
    </div>
</nav>

    
    
        
    <section class="my-50 container text-center">
        <div class="row justify-content-md-center">
            <div class="col col-md-6">
                <img src="/store/1/default_images/404.svg" class="img-cover " alt="">
            </div>
        </div>

        <h2 class="mt-25 font-36">Page not found!</h2>
        <p class="mt-25 font-16">Sorry, this page is not available...</p>
    </section>

            <footer class="footer bg-secondary position-relative user-select-none">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class=" footer-subscribe d-block d-md-flex align-items-center justify-content-between">
                    <div class="flex-grow-1">
                        <strong>Join us today</strong>
                        <span class="d-block mt-5 text-white">#We will send the best deals and offers to your email.</span>
                    </div>
                    <div class="subscribe-input bg-white p-10 flex-grow-1 mt-30 mt-md-0">
                        <form action="/newsletters" method="post">
                            <input type="hidden" name="_token" value="q70fR2gs72gquvmyAur6GGrCSoY5GyRmL4oPycwe">

                            <div class="form-group d-flex align-items-center m-0">
                                <div class="w-100">
                                    <input type="text" name="newsletter_email" class="form-control border-0 " placeholder="Enter your email here"/>
                                                                    </div>
                                <button type="submit" class="btn btn-primary rounded-pill">Join</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row">

                            <div class="col-6 col-md-3">
                                                                        <span class="header d-block text-white font-weight-bold">About US</span>
                        
                                                    <div class="mt-20">
                                <p><font color="#ffffff">Tadaros LMS is a fully-featured learning management system that helps you to run your education business in several hours. This platform helps instructors to create professional education materials and helps students to learn from the best instructors.</font></p>
                            </div>
                                                            </div>
                            <div class="col-6 col-md-3">
                                                                        <span class="header d-block text-white font-weight-bold">Additional Links</span>
                        
                                                    <div class="mt-20">
                                <p><a href="/login"><font color="#ffffff">- Login</font></a></p><p><font color="#ffffff"><a href="/register"><font color="#ffffff">- Register</font></a></font></p><p><a href="/contact"><font color="#ffffff">- Contact us</font></a></p><p><font color="#ffffff"><a href="/become-instructor"><font color="#ffffff">- Become instrucor</font></a><br></font></p><p><a href="/pages/terms"><font color="#ffffff">- Terms &amp; rules</font></a></p><p><a href="/pages/about"><font color="#ffffff">- About us</font></a><br></p>
                            </div>
                                                            </div>
                            <div class="col-6 col-md-3">
                                            
                                                    <div class="mt-20">
                                <p><br></p>
                            </div>
                                                            </div>
                            <div class="col-6 col-md-3">
                                            
                                                            </div>
            
        </div>

        <div class="mt-40 border-blue py-25 d-flex align-items-center justify-content-between">
            <div class="footer-logo">
                <a href="/">
                                            <img src="/store/1/tadaroslogo.jpg" class="img-cover" alt="footer logo">
                                    </a>
            </div>
            <div class="footer-social">
                                                            <a href="https://www.instagram.com/tadarosnet?igsh=MTVtemQxOHdmMW0ydQ==">
                            <img src="/store/1/default_images/social/instagram.svg" alt="Instagram" class="mr-15">
                        </a>
                                            <a href="wa.me//966549582272">
                            <img src="/store/1/default_images/social/whatsapp.svg" alt="Whatsapp" class="mr-15">
                        </a>
                                                </div>
        </div>
    </div>

            <div class="footer-copyright-card">
            <div class="container d-flex align-items-center justify-content-between py-15">
                <div class="font-14 text-white">All rights are reserved for learning management system platform</div>

                <div class="d-flex align-items-center justify-content-center">
                                            <div dir="ltr" class="d-flex align-items-center text-white font-14">
                            <i data-feather="phone" width="20" height="20" class="mx-10"></i>
                            +966 54 958 2272
                        </div>
                    
                                            <div class="border-left mx-5 mx-lg-15 h-100"></div>

                        <div dir="ltr" class="d-flex align-items-center text-white font-14">
                            <i data-feather="mail" width="20" height="20" class="mx-10"></i>
                            info@tadaros.net
                        </div>
                                    </div>
            </div>
        </div>
    
</footer>
    
    
    </div>
<!-- Template JS File -->
<script src="/assets/default/js/app.js"></script>
<script src="/assets/default/vendors/feather-icons/dist/feather.min.js"></script>
<script src="/assets/default/vendors/moment.min.js"></script>
<script src="/assets/default/vendors/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="/assets/default/vendors/toast/jquery.toast.min.js"></script>
<script type="text/javascript" src="/assets/default/vendors/simplebar/simplebar.min.js"></script>



<script>
    var deleteAlertTitle = 'Are you sure?';
    var deleteAlertHint = 'This action cannot be undone!';
    var deleteAlertConfirm = 'Delete';
    var deleteAlertCancel = 'Cancel';
    var deleteAlertSuccess = 'Success';
    var deleteAlertFail = 'Failed';
    var deleteAlertFailHint = 'Error while deleting item!';
    var deleteAlertSuccessHint = 'Item successfully deleted.';
    var forbiddenRequestToastTitleLang = '&quot;FORBIDDEN&quot; Request';
    var forbiddenRequestToastMsgLang = 'You not access to this content.';
</script>


    <link href="/assets/default/vendors/flagstrap/css/flags.css" rel="stylesheet">
    <script src="/assets/default/vendors/flagstrap/js/jquery.flagstrap.min.js"></script>
    <script src="/assets/default/js/parts/top_nav_flags.min.js"></script>
    <script src="/assets/default/js/parts/navbar.min.js"></script>

<script src="/assets/default/js/parts/main.min.js"></script>

<script>
    
    
</script>
</body>
</html>
